/* @theme katas */
/* 勉強会#向けテーマ */

@import 'default';

/* 三重引用を脚注の記号に転用 */
blockquote>blockquote>blockquote {
    font-size: 55%;
    font-weight: 400;
    padding: 0;
    margin: 0;
    border: 0;
    border-top: 0.1em dashed #555;
    position: absolute;
    bottom: 70px;
    left: 70px;
}

/* ![center](...) で画像をセンタリング */
img[alt~="center"] {
    display: block;
    margin: 0 auto;
}
