/* @theme katas */
/* 勉強会#向けテーマ */

@import "default";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;400;700&family=Noto+Serif+JP:wght@200;400;700&display=swap");

section {
  font-family: "Noto Sans JP", sans-serif;
  /* 01-basicsなど、↓の相対パス指定から辿れる位置のみ対応しているので注意 */
  cursor: url("../.marp-themes/pointer_red.png"), pointer;
}

/* 三重引用を脚注の記号に転用 */
blockquote > blockquote > blockquote {
  font-size: 55%;
  font-weight: 400;
  padding: 0;
  margin: 0;
  border: 0;
  border-top: 0.1em dashed #555;
  position: absolute;
  bottom: 70px;
  left: 70px;
}

/* ![center](...) で画像をセンタリング */
img[alt~="center"] {
  display: block;
  margin: 0 auto;
}

/* 強調に色をつける */
strong {
  color: #941100;
}

/* ---段組みのレイアウト--- */
/* see: https://briboo-pc.hatenablog.jp/entry/2023/11/05/%E3%80%90Marp%E3%80%91%E3%82%B3%E3%83%94%E3%83%9A%E3%81%A7%E7%B0%A1%E5%8D%98%EF%BC%81%E5%A4%9A%E6%AE%B5%E7%B5%84%E3%81%BF%E3%82%B7%E3%83%B3%E3%83%97%E3%83%AB%E3%83%AC%E3%82%A4%E3%82%A2%E3%82%A6 */

:root {
  --fw: 1;
}
/* ----- レイアウト ----- */
.flex {
  display: flex;
  gap: 1em;
}
.sa {
  justify-content: space-around;
  /* border: 8px dashed rgb(15, 166, 226);
    background-color: rgb(222, 244, 255); */
}
.sb {
  justify-content: space-between;
  /* border: 8px dashed rgb(21, 17, 255);
    background-color: rgb(222, 244, 255); */
}
.sa div,
.sb div {
  margin: 0.1em;
  /* border: 8px dashed rgb(80, 177, 109);
    background-color: rgb(227, 250, 237); */
}
.fw div {
  flex: var(--fw);
  /* background-color: rgb(244, 238, 255);
    border: 8px dashed rgb(93, 0, 255); */
} /* ---------- */
