/* @theme katas */
/* 勉強会#向けテーマ */

@import 'default';
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;400;700&family=Noto+Serif+JP:wght@200;400;700&display=swap");


section {
  font-family: "Noto Sans JP", sans-serif;
  /* 01-basicsなど、↓の相対パス指定から辿れる位置のみ対応しているので注意 */
  cursor: url("../.marp-themes/pointer_red.png"), pointer;
}

/* 三重引用を脚注の記号に転用 */
blockquote>blockquote>blockquote {
    font-size: 55%;
    font-weight: 400;
    padding: 0;
    margin: 0;
    border: 0;
    border-top: 0.1em dashed #555;
    position: absolute;
    bottom: 70px;
    left: 70px;
}

/* ![center](...) で画像をセンタリング */
img[alt~="center"] {
    display: block;
    margin: 0 auto;
}

/* 強調に色をつける */
strong {
    color: #941100;
}